<div id="<%= dom_id block %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Block index:</strong>
    <%= block.block_index %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data:</strong>
    <%= block.data %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Previous hash:</strong>
    <%= block.previous_hash %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Block hash:</strong>
    <%= block.block_hash %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nonce:</strong>
    <%= block.nonce %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mined at:</strong>
    <%= block.mined_at %>
  </div>
</div>
